.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  font-size: 2vmax;
  width: 100%;
}

@media only screen and (orientation: landscape) {
  .App-header {
    position: relative;
    flex-direction: row;
    margin-inline-start: 0.68em;
  }

  .h1 {
    left: 0;
  }
}
